<div class="formular_content">
  <ng-container *ngIf="formSubmitted===true; else elseTemplate">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <mat-icon id="done">done_all</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        Cours publié avec succès
      </mat-card-content>
    </mat-card>
  </ng-container>
  <ng-template #elseTemplate>

    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>
          <mat-icon>priority_high</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
       Félicitations, vous avez fait le plus dur, maintenant vous pouvez soit publier votre cours pour le rendre visible pour les apprenants, soit l'enregistrer pour pouvoir le modifier plus tard.
      </mat-card-content>
    </mat-card>
    <div class="action-buttons">
      <button mat-raised-button color="primary" matStepperPrevious>Précédent</button>
      <button mat-raised-button color="primary" (click)="save()">Enregistrer</button>
      <button mat-raised-button color="primary" (click)="submit()">Publier</button>
    </div>
  </ng-template>

</div>
