<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Parameters</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div class="form-card">
        <form [formGroup]="trainerForm">
          <!-- header -->
          <div class="card__header">
            <div class="form-group">
              <input id="id" type="text" formControlName="id" hidden>
            </div>
            <div class="header__left">
              <!-- form -->
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input id="firstName" type="text" formControlName="firstName">
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input id="lastName" type="text" formControlName="lastName">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email">
              </div>
              <div class="form-group">
                <label for="website">Website</label>
                <input id="website" type="text" formControlName="website">
              </div>
            </div>
            <div class="header__right">
              <!-- user icon -->
              <div>
                <img [src]="imageUrl" alt="imageUrl">
                <div class="form-group">
                <input id="avatar" type="file" (change)="onSelectFile($event)" formControlName="avatar">
                </div>
              </div>
            </div>
          </div>
          <!-- content -->
          <div class="card__content">
            <div class="form-group">
              <label for="biography">Biography</label>
              <textarea id="biography" type="text" formControlName="biography" rows="4">
              </textarea>
            </div>
          </div>
          <!-- footer -->
          <div class="card__footer">
            <h4 style="color: red;">NB: Size of Image : 300x300 Pixel</h4>
            <div class="action-buttons">
              <button mat-raised-button color="primary" type="submit" (click)="onSubmitForm()">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
