@import "../course//course.component.scss";

/* .form-card {
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
}

.form-group {
  margin: 10px auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input, textarea {
  width: 50%;
} */
.card__header {
  display: flex;
  justify-content: space-around;
}

.header__left {
  width: 67%;
  .form-group {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  input {
    width: 80%;
    height: 40px;
  }
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card__content {
  label{
    margin-bottom: 10px;
  }
  textarea{
    width: 100%;
  }
}
.card__footer{
  margin-top: 30px;
}
