<div class="formular_content">
  <div id="information" [formGroup]="form">
    <!-- Id -->
    <mat-form-field appearance="outline" formGroupName="information" hidden>
      <mat-label>Id</mat-label>
      <input type="number" matInput formControlName="id">
    </mat-form-field>
    <!-- Title -->
    <mat-form-field appearance="outline" formGroupName="information" class="formular_input title">
      <mat-label>Titre</mat-label>
      <input type="text" matInput formControlName="title">
    </mat-form-field>
    <!-- Level -->
    <mat-form-field appearance="outline" formGroupName="information" class="formular_input">
      <mat-label>Niveau</mat-label>
      <mat-select formControlName="level">
        <mat-option *ngFor="let level of levels" [value]="level.name">
          {{level.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Duration -->
    <mat-form-field appearance="outline" formGroupName="information" class="formular_input">
      <mat-label>Durée</mat-label>
      <mat-select formControlName="duration">
        <mat-option *ngFor="let duration of durations" [value]="duration.name">
          {{duration.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Category -->
    <mat-form-field appearance="outline" formGroupName="information" class="formular_input">
      <mat-label>Catégorie</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Description -->
    <mat-form-field appearance="outline" formGroupName="information" class="description">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Type the description" formControlName="description"></textarea>
    </mat-form-field>
    <!-- Status -->
    <mat-form-field appearance="outline" formGroupName="information" hidden>
      <mat-label>status</mat-label>
      <input type="number" matInput formControlName="status">
    </mat-form-field>
    <!-- User -->
    <mat-form-field appearance="outline" formGroupName="information" hidden>
      <mat-label>user</mat-label>
      <input  matInput formControlName="user">
    </mat-form-field>
    <div class="action-buttons">
      <button mat-raised-button color="primary" (click)="step1Submitted()" matStepperNext>Suivant</button>
    </div>
  </div>
</div>
