#htmlData {
  width: 830px;
  .content{
    height: 594px;
    width: 840px;
    background-color: red;
    background-image: url('../../../../assets//images//certicate.png');
    background-size:contain;
  }
}
h1{
  position: absolute;
  margin-top: 200px;
  margin-left: 270px;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}
h4{
  position: absolute;
  margin-top: 250px;
  margin-left: 310px;
  color: white;
  font-weight: bolder;
}
.detail{
  position: absolute;
  margin-top: 350px;
  margin-left: 20px;
  color: white;
  font-weight: bolder;

}

