<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Create category</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data-list">
      <div class="form-card" >
        <form>
          <mat-form-field appearance="fill" hidden>
            <mat-label>ID</mat-label>
            <input matInput type="number" formControlName="id">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Select category</mat-label>
            <mat-select >
              <mat-option *ngFor="let category of categories" [value]="category.id" >
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Select Language</mat-label>
            <mat-select>
              <mat-option *ngFor="let language of languages" [value]="language.id" >
                {{language.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Select Level</mat-label>
            <mat-select>
              <mat-option *ngFor="let level of levels" [value]="level.id">
                {{level.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="action-buttons">
            <button mat-raised-button color="warn" type="reset">Reset</button>
            <button mat-raised-button color="primary" type="submit">Enregistrer</button>
          </div>
        </form>
      </div>
      <!-- end -->
    </div>
  </div>
</div>
