
.form__content {
  border: 1px solid transparent;
  height: 350px;
  width: 100%;
}

input,
textarea {
  width: 100%;
}

.form-group-select {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  width: 22%;
}

.action-buttons {
  margin: 72px auto ;
  button{
    margin: auto 3px;
  }
}
