<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Add in order and preview before saving completely</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data-list">
      <div class="stepper_content">
        <div class="section_template">
          <div class="demo-button-container">
            <form [formGroup]="sectionForm">
              <mat-form-field appearance="outline" hidden>
                <mat-label>Id</mat-label>
                <input type="text" matInput formControlName="id">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Title</mat-label>
                <input type="text" matInput formControlName="title">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Course</mat-label>
                <mat-select name="course" formControlName="courseId">
                  <mat-option *ngFor="let course of courses" [value]="course.id">
                    {{course.title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button (click)="addData()" [disabled]="sectionForm.invalid" class="demo-button">
                Add section
              </button>
              <button mat-raised-button [disabled]="!sections.length" (click)="removeData()" class="demo-button">
                Remove last line insert
              </button>
            </form>
            <button mat-raised-button color="primary" [disabled]="!sections.length" (click)="saveSection()"
              class="demo-button">
              Save completely
            </button>
          </div>
          <div class="table_content" class="mat-elevation-z8 demo-table">
            <table #table mat-table [dataSource]="dataSource">
              <!-- Id Column -->
              <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef>Oder of display</th>
                <td mat-cell *matCellDef="let section">{{section.id}}</td>
              </ng-container>

              <!-- Title Column -->
              <ng-container matColumnDef="Title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let section">{{section.title}}</td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="Course">
                <th mat-header-cell *matHeaderCellDef>Course</th>
                <td mat-cell *matCellDef="let section">
                  <div *ngFor="let course of courses">
                    <span *ngIf="course.id===section.courseId">{{course.title}}</span>
                  </div>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>

            </table>
            <mat-paginator #paginator [pageSizeOptions]="[2,1,3,4]" arial-label="select page of courses">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
