<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/images/s.png" alt="YEKOLA logo">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Learn everything, anytime, anywhere</h2>
  <a href="" mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a href="" mat-list-item routerLink="/new-category" routerLinkActive="list-item-active">
    <mat-icon>add_circle_outline</mat-icon> New category
  </a>
  <a href="" mat-list-item routerLink="/category-list" routerLinkActive="list-item-active">
    <mat-icon>library_books</mat-icon> Categories
  </a>
  <a href="" mat-list-item routerLink="/review-list" routerLinkActive="list-item-active">
    <mat-icon>star_border</mat-icon> Reviews
  </a>
  <a href="" mat-list-item routerLink="/parameters" routerLinkActive="list-item-active">
    <mat-icon>settings</mat-icon> Parameters
  </a>
</mat-nav-list>
