#publish{
  border: 1px solid transparent;
  height: 350px;
  width: 100%;
}
.publish__notif{
  margin: 30px auto;
}
.publish__btn{
  margin: 229px auto;
}
.notification-warn{
  color: red;
}
.notification-success{
  color: green;
}
button{
  margin: auto 3px;
}

