<div id="publish" [formGroup]="form">
  <div *ngIf="formSubmitted" class="publish__notif">
    <mat-card class="mat-elevation-z8">
      <mat-card-content class="notification-success">Course create successfully</mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="!formSubmitted" class="publish__notif">
    <mat-card class="mat-elevation-z8">
      <mat-card-content class="notification-warn">Follow the details submitted, please confirm and hit submit</mat-card-content>
    </mat-card>
  </div>
  <div class="publish__btn">
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" (click)="saveCourse()">Save</button>
    <button mat-raised-button color="primary" (click)="submit()">Submit</button>
  </div>
</div>
