.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;

  &__box {
    min-height: 90px;
    background: #0f172a;
    margin: 0 -1rem;
    font-size: 36px;
  }

  &__content {
    min-height: calc(100vh - 150px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    display: flex;
    justify-content: center;
  }
}

/* formular class="mat-elevation-z8" */

.form_card {
  border: 1px solid transparent;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  color: #fff;
}

.form_btn {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  button {
    margin: 10px;
  }
}
