<div class="container-fluid page">
  <div class="page__box p-3 mt-2">New course</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <!-- Content -->
      <!-- formulary -->
      <form [formGroup]="courseForm">
        <mat-horizontal-stepper labelPosition="bottom" #stepper>//linear
          <!-- step-1 -->
          <mat-step formGroupName="information" [stepControl]="courseForm.get('information')!">
            <ng-template matStepLabel>Introduction</ng-template>
            <app-information [form]="courseForm"></app-information>
          </mat-step>
          <!-- step-2 -->
          <mat-step formGroupName="content" [stepControl]="courseForm.get('content')!">
            <ng-template matStepLabel>Content</ng-template>
            <app-content [form]="courseForm"></app-content>
          </mat-step>
          <!-- step-3 -->
          <mat-step formGroupName="media" [stepControl]="courseForm.get('media')!">
            <ng-template matStepLabel>Media</ng-template>
            <app-media [form]="courseForm"></app-media>
          </mat-step>
          <!-- step-4 -->
          <mat-step>
            <ng-template matStepLabel>Publish</ng-template>
            <app-publish [form]="courseForm"></app-publish>
          </mat-step>

        </mat-horizontal-stepper>
      </form>
      <!--END OF Content -->
    </div>
  </div>
</div>
