<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Liste de formation</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data-list">
      <!-- TABLE -->
      <mat-form-field appearance="standard">
        <mat-label>Faire une recherche</mat-label>
        <input matInput placeholder="search course" search (keyup)="applyFilter($event)" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource">

          <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cours</th>
            <td mat-cell *matCellDef="let row">Créer Votre Site Web Avec Html5 Et Css3 </td>
            <!-- <div *ngFor="let course of courses">
              <td mat-cell *matCellDef="let row">
                <div *ngFor="let follow of followData">
                  <span *ngIf="follow.courseId==course.id">{{ course.title | titlecase }}</span>
                </div>
              </td>
            </div> -->
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Inscription</th>
            <td mat-cell *matCellDef="let row">2022-04-12</td>
            <!-- <div *ngFor="let course of courses">
              <td mat-cell *matCellDef="let row">
                <div *ngFor="let follow of followData">
                  <span *ngIf="follow.courseId==course.id">{{ follow.date}}</span>
                </div>
              </td>
            </div> -->
          </ng-container>

          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Progression</th>
            <td mat-cell *matCellDef="let row">
              <div class="progressBarContent">
                <mat-progress-bar mode="determinate" value="20" color="primary"></mat-progress-bar>
                <div class="textOfPercentage">20%</div>
                <!-- <mat-progress-bar mode="determinate" value="{{ totalChaptersLength }}" color="primary"></mat-progress-bar>
                <div class="textOfPercentage">{{ totalChaptersLength }}%</div> -->
              </div>
            </td>
            <!-- <div *ngFor="let course of courses">
              <td mat-cell *matCellDef="let row">
                <div *ngFor="let follow of followData">
                  <span *ngIf="follow.courseId==course.id">{{ follow.percentage }}</span>
                </div>
              </td>
            </div> -->
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Categorie</th>
            <td mat-cell *matCellDef="let row">Developpement web</td>
            <!-- <div *ngFor="let course of courses">
              <td mat-cell *matCellDef="let row">
                <div *ngFor="let follow of followData" >
                  <span *ngIf="follow.courseId==course.id">
                    <div *ngFor="let category of categories">
                      <span *ngIf="category.id==course.id">{{ category.name }}</span>
                    </div>
                  </span>
                </div>
              </td>
            </div> -->
          </ng-container>
          <ng-container matColumnDef="certificate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Certificat</th>
            <td mat-cell *matCellDef="let row">
              <mat-icon>school</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>

          <!-- When data does exist -->
          <tr *matNoDataRow>
            <td class="mat-cell" colspan="4">La recherche ne correspond a aucun mots dans la base de donnée "{{
              input.value
              }}"
            </td>
          </tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[3,2,1]" arial-label="select page of courses"></mat-paginator>
      </div>
    </div>
  </div>
</div>
