<div class="formular_content">
 <!--  <div id="media" [formGroup]="form">
    <mat-form-field appearance="outline" hidden formGroupName="media">
      <mat-label>Image</mat-label>
      <input type="file" accept="image/*" formControlName="id">
    </mat-form-field>
  </div>
   -->
   <div class="action-buttons">
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" (click)="step3Submitted()" matStepperNext>Next</button>
  </div>
</div>
