<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="" routerLinkActive="list-item-active" id="titreLogo">
      Y<span style="color:#DD4606;">E</span>K<span style="color:#0EA4E4;">O</span>L<span style="color:#10D65F;">A</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home" routerLinkActive="list-item-active">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/trainer-dashboard"
            routerLinkActive="list-item-active">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/new-category" routerLinkActive="list-item-active">Ajouter</a></li>
            <li><a class="dropdown-item" routerLink="/category-list" routerLinkActive="list-item-active">Lister</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" routerLinkActive="list-item-active" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Sections
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/new-section" routerLinkActive="list-item-active">Ajouter</a></li>
            <li><a class="dropdown-item" routerLink="/section-list" routerLinkActive="list-item-active">Lister</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" routerLinkActive="list-item-active" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Cours
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/new-course" routerLinkActive="list-item-active">Ajouter</a></li>
            <li><a class="dropdown-item" routerLink="/course-list" routerLinkActive="list-item-active">Lister</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="list-item-active" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Formateurs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/new-trainer" routerLinkActive="list-item-active">Ajouter</a></li>
            <li><a class="dropdown-item" routerLink="/trainer-list" routerLinkActive="list-item-active">Lister</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLinkActive="list-item-active" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Revues
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/new-review" routerLinkActive="list-item-active">Add</a></li>
            <li><a class="dropdown-item" routerLink="/review-list" routerLinkActive="list-item-active">List</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Effectuer une recherche" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">chercher</button>
      </form>
      <div class="" id="listeUser">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              [Utilisateur]
              <!-- {{ authService.loggedUser }} -->
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/login" routerLinkActive="list-item-active">
                  Se déconnecter
                </a>
              </li>
              <li><a class="dropdown-item" routerLink="/login" routerLinkActive="list-item-active">Se connecter</a></li>
              <li><a class="dropdown-item" routerLink="/parameters" routerLinkActive="list-item-active">
                  Paramètres
                </a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- <ng-container *ngIf="authService.loggedUser; else elseTemplate">
        <div class="offset-7">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                {{ authService.loggedUser }}

              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/login" routerLinkActive="list-item-active">
                    <mat-icon>exit_to_app</mat-icon>
                  </a>
                </li>
                <li><a class="dropdown-item" routerLink="/login" routerLinkActive="list-item-active">Log in</a></li>
                <li><a class="dropdown-item" routerLink="/parameters" routerLinkActive="list-item-active">
                    <mat-icon>settings</mat-icon>
                  </a></li>
              </ul>
            </li>
          </ul>
        </div>
      </ng-container>
      <ng-template #elseTemplate>

        <div class="offset-10">
          <ul class="navbar-nav offset">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Connection
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" routerLink="/login" routerLinkActive="list-item-active">
                    Create account
                  </a>
                </li>
                <li><a class="dropdown-item" routerLink="/login" routerLinkActive="list-item-active">Log in</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </ng-template> -->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
