
nav{
  position: sticky;
  top: 0;
  z-index: 100;
  background: #0f172a !important;
  a{
    color: white;
    font-size: 15px;
  }
  .dropdown-item{
    color: black !important;
  }
  .nav-link.active{
    color: white;
    font-size: 15px;
  }
}
#titreLogo{
  font-size: 30px;
  font-weight: bolder;
}
#listeUser{
  position: absolute;
  right: 65px;
}
