.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;

  &__box {
    min-height: 90px;
    background: #0f172a;
    margin: 0 -1rem;
    font-size: 36px;
  }

  &__content {
    min-height: calc(100vh - 150px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
  }
}

.mat-card {
  text-align: center;
  margin-top: 70px;

  .mat-card-title {
    font-size: 30px;
    font-weight: bolder;
  }

  .mat-card-content {
    font-size: 20px;
  }
}
