<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Nouveau Cours</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data-list">
      <div class="stepper_content">
        <!-- formulary -->
      <form [formGroup]="courseForm">
        <mat-horizontal-stepper labelPosition="bottom" #stepper>
          <!-- step-1 -->
          <mat-step formGroupName="information" [stepControl]="courseForm.get('information')!">
            <ng-template matStepLabel>Introduction</ng-template>
            <app-information-form-group [form]="courseForm"></app-information-form-group>
          </mat-step>
          <!-- step-2 -->
          <mat-step formGroupName="content" [stepControl]="courseForm.get('content')!">
            <ng-template matStepLabel>Contenu</ng-template>
            <app-content-form-group [form]="courseForm"></app-content-form-group>
          </mat-step>
          <!-- step-3 -->
          <mat-step formGroupName="media" [stepControl]="courseForm.get('media')!">
            <ng-template matStepLabel>Média</ng-template>
            <app-media-form-group [form]="courseForm"></app-media-form-group>
          </mat-step>
          <!-- step-4 -->
          <mat-step>
            <ng-template matStepLabel>Publier</ng-template>
            <app-publish-form-group [form]="courseForm"></app-publish-form-group>
          </mat-step>

        </mat-horizontal-stepper>
      </form>
      <!--END OF Content -->
      </div>
    </div>
  </div>
</div>
