.mat-form-field{
  font-size: 14px;
  width: 30%;
}

table {
  width: 100%;
  height: 100vh;
}
.mat-table{
  height: auto;
}
.mat-cell{
  .btn{
    border: none;
    background: none;
    margin: 10px;
  }
  .btn-delete{
    color: rgb(146, 12, 12);
  }
  .btn-edit{
    color: #2c3344;
  }
}
