<div class="contentElement">
  <div class="contentReader mat-elevation-z8">
    <!-- Progress bar -->
    <div class="progressBarContent">
      <mat-progress-bar mode="determinate" value="20" color="primary"></mat-progress-bar>
      <div class="textOfPercentage">20%</div>
      <!-- <mat-progress-bar mode="determinate" value="{{ totalChaptersLength }}" color="primary"></mat-progress-bar>
      <div class="textOfPercentage">{{ totalChaptersLength }}%</div> -->
    </div>
    <!-- Show Chapters and Sections -->
    <mat-drawer-container *ngIf="course">
      <mat-drawer mode="side" opened="true">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngFor="let section of sections;">
          <mat-expansion-panel-header *ngIf="section.course.id==course.id" style="background:#848588;">
            <mat-panel-description>
              <span style="font-weight:bolder ; font-size: 17px; color: white;"> {{section.title}} </span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul *ngFor="let chapter of chapters">
            <li *ngIf="chapter.section.id==section.id"> {{ chapter.title | titlecase }} <span *ngIf="chapter.id==1"
                style="color: #10D65F;"><mat-icon>check_circle</mat-icon></span></li>
          </ul>
        </mat-expansion-panel>
      </mat-drawer>
      <mat-drawer-content>
        <!-- <div *ngFor="let chapter of chapters">
          <p>{{ chapter.content }} </p>
        </div> -->
        <div>
          <h2>Installez Python Et Anaconda</h2>

          Quasiment absents dans la presse il y a quelques années, les incidents de cybersécurité font aujourd'hui les
          gros titres des journaux. À chaque fois, les incidents semblent de plus en plus gros : de quelques milliers de
          mots de passe volés, nous sommes passés à des centaines de millions voire des milliards de mots de passe
          volés.

          Et cela ne s'arrête pas là. Puisque tout le monde stocke désormais des données en ligne, on retrouve des
          informations de plus en plus personnelles dans la nature. Des sociétés se font voler les adresses de leurs
          clients, quand elles ne voient pas le contenu de tous leurs e-mails étalés sur la place publique ! Pendant ce
          temps, des hôpitaux se retrouvent paralysés, faute d'avoir investi dans leur sécurité informatique.

          En suivant ce cours d'introduction, vous allez comprendre pourquoi entreprises et gouvernements se préoccupent
          de plus en plus de la cybersécurité... et vous découvrirez qu'ils ont tout le mal du monde à embaucher des
          spécialistes du domaine !

          <br><br><br>
          Nous sommes le 23 novembre 2014. En apparence, tout va bien chez Sony Pictures, le géant du film aux
          États-Unis. L'entreprise génère des milliards de dollars de revenus grâce à ses films et se prépare à en
          sortir de nombreux autres.

          Tout va bien donc, mais en apparence seulement.

          Le lendemain, 24 novembre 2014, un groupe de hackers qui se présente comme les "Guardians of Peace" (GOP)
          diffuse soudainement une grande quantité d'informations confidentielles de l'entreprise :

          Des informations personnelles sur les employés et leurs familles sont diffusées ;

          Des milliers d'échanges d'e-mails entre employés deviennent tout à coup publics ;

          Des films qui n'étaient pas encore sortis se baladent désormais sur Internet ;

          Et pour couronner le tout, les données de nombreux serveurs de Sony sont supprimées.

          Le coup de massue pour Sony Pictures est massif. Difficile de savoir où donner de la tête quand autant de
          catastrophes surviennent simultanément. C'était sans aucun doute un des objectifs des Guardians of Peace :
          causer un maximum de dégâts. Mais pourquoi ?

          <br><br>
          La cyberattaque sur Sony Pictures mérite d'être étudiée, car son impact a été massif et probablement sans
          précédent.

          Mettons de côté les dégâts causés par les serveurs rendus inutilisables. Mettons aussi de côté l'impact
          financier lié à la sortie des films en ligne avant leur diffusion officielle en salle.
        </div>

        <div class="content-btn">
          <button mat-raised-button color="primary">J'ai terminé ce chapitre</button>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
