.progressBarContent{
  display: flex;
  align-items: center;
  align-content: center;
  height: 60px;
}
.textOfPercentage{
  position: absolute;
  padding: 10px;
  font-size: 17px;
  color: white;
  font-weight: bolder;
}
.mat-progress-bar{
  height: 30px;
}
:host{
  display: flex ;
  flex-direction: column;
}
.mat-drawer{
  width: 300px;
  background: red;
}
.mat-drawer-container{
}
