<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Commentaires</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data-list">
      <mat-card class="mat-elevation-z8">
        <button mat-raised-button color="primary" *ngIf="course" (click)="backOnDetails(course.id)">Retour</button>

        <mat-card class="mat-elevation-z8 mt-3">
          <mat-card-header>
            <mat-card-title> <span style="font-weight: bolder;">Edouard Boua</span> </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolorum nemo repellat atque, quis dolorem
            facere tempora in officiis tenetur. Deleniti quasi modi qui exercitationem odit, ut accusamus consequatur?
            Animi!
            Fugiat ipsum minima recusandae voluptas libero placeat atque similique rem repudiandae ex veritatis, culpa
            modi quo doloremque corrupti dolorum et consectetur mollitia sunt dignissimos? Recusandae inventore veniam
            labore omnis ipsa.
            Maxime laudantium delectus expedita nobis qui cupiditate nemo consectetur, quae odio ad magni exercitationem
            laborum! Deleniti repudiandae illum perspiciatis architecto doloribus earum cum voluptates necessitatibus
            odio aspernatur. Quo, asperiores dolore.
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z8 mt-3">
          <mat-card-header>
            <mat-card-title> <span style="font-weight: bolder;">EKEKE Emmanuelle  </span></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolorum nemo repellat atque, quis dolorem
            facere tempora in officiis tenetur. Deleniti quasi modi qui exercitationem odit, ut accusamus consequatur?
            Animi!
            Fugiat ipsum minima recusandae voluptas libero placeat atque similique rem repudiandae ex veritatis, culpa
            modi quo doloremque corrupti dolorum et consectetur mollitia sunt dignissimos? Recusandae inventore veniam
            labore omnis ipsa.
            Maxime laudantium delectus expedita nobis qui cupiditate nemo consectetur, quae odio ad magni exercitationem
            laborum! Deleniti repudiandae illum perspiciatis architecto doloribus earum cum voluptates necessitatibus
            odio aspernatur. Quo, asperiores dolore.
          </mat-card-content>
        </mat-card>
      </mat-card>
    </div>
  </div>
</div>

<!-- -->
