<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <div id="card__element">
        <mat-card class="mat-elevation-z8 card__element-image">
          <mat-card-title>Total courses</mat-card-title>
          <mat-card-content>1</mat-card-content>
          <img mat-card-image src="../../assets/images/trophe.png" alt="trophy">
        </mat-card>
        <mat-card class="mat-elevation-z8 card__element-image">
          <mat-card-title>Total learners</mat-card-title>
          <mat-card-content>1</mat-card-content>
          <img mat-card-image src="../../assets/images/trophe.png" alt="trophy">
        </mat-card>
      </div>
    </div>
  </div>
</div>
