@import '../course//course.component.scss';
/* here code */

#card__element{
  margin: 140px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .card__element-image{
    width: 47%;
      img {
    width: 15%;
    margin-left: calc(60vh);
  }
  }


}

