<div class="formular_content">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>Content creation </mat-card-header>
    <mat-card-actions align="end"><button mat-raised-button color="primary" (click)="addSection()">Add section</button></mat-card-actions>
  </mat-card>

  <div class="action-buttons">
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" (click)="step2Submitted()" matStepperNext>Next</button>
  </div>
</div>
