<h1 mat-dialog-title>Modifier la section</h1>
<form [formGroup]="sectionDialogForm">
  <div mat-dialog-content formGroupName="section">
    <mat-form-field appearance="outline" hidden>
      <mat-label>Title</mat-label>
      <input type="number" matInput formControlName="id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title" placeholder="{{ data.titleShared }}">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" type="reset">Supprimer</button>
    <button mat-raised-button color="accent" mat-dialog-close>Sortir</button>
    <button mat-raised-button color="primary" [disabled]="sectionDialogForm.invalid"
      (click)="onAddSection()">Modifier</button>
  </div>
</form>
