#content {
  border: 1px solid transparent;
  height: 350px;
}

#card__element {
  margin: 50px auto;
  padding: 20px;
  height: 100px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#card__btn {
  margin: 160px auto ;
  button{
    margin: auto 3px;
  }
}
